/* 自定义字体 */
@font-face {
  font-family: "霞鹜文楷";
  src: url("../font/LXGWWenKai-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "MapleMono";
  src: url("../font/MapleMonoNormal-Light.woff2") format("woff2");
}

@font-face {
  font-family: "MapleMonoCN";
  src: url("../font/MapleMonoNormal-NF-CN-Light.woff2") format("woff2");
}

:root {
  --md-text-font: "霞鹜文楷";
  --md-code-font: "MapleMonoCN";
}


/* 连字 */
code,
kbd,
pre {
  font-variant-ligatures: normal !important;
}


/* 自定义颜色 */
:root {
  /* --clr-teal-50: #e0f2f1;
  --clr-teal-100: #b2dfdb;
  --clr-teal-200: #80cbc4;
  --clr-teal-300: #4db6ac;
  --clr-teal-400: #26a69a;
  --clr-teal-500: #009688;
  --clr-teal-600: #00897b;
  --clr-teal-700: #00796b;
  --clr-teal-800: #00695c;
  --clr-teal-900: #004d40;
  --clr-teal-a100: #a7ffeb;
  --clr-teal-a200: #64ffda;
  --clr-teal-a400: #1de9b6;
  --clr-teal-a700: #00bfa5;

  --clr-green-50: #e8f5e9;
  --clr-green-100: #c8e6c9;
  --clr-green-200: #a5d6a7;
  --clr-green-300: #81c784;
  --clr-green-400: #66bb6a;
  --clr-green-500: #4caf50;
  --clr-green-600: #43a047;
  --clr-green-700: #388e3c;
  --clr-green-800: #2e7d32;
  --clr-green-900: #1b5e20;
  --clr-green-a100: #b9f6ca;
  --clr-green-a200: #69f0ae;
  --clr-green-a400: #00e676;
  --clr-green-a700: #00c853; */

  /* Fox is simply Teal+Green using https://coolors.co */
  --clr-fox-50: #e4f4ed;
  --clr-fox-50--rgb: 228, 244, 237;
  --clr-fox-100: #bde3d2;
  --clr-fox-100--rgb: 189, 227, 210;
  --clr-fox-200: #93d1b6;
  --clr-fox-200--rgb: 147, 209, 182;
  --clr-fox-300: #67bf98;
  --clr-fox-300--rgb: 103, 191, 152;
  --clr-fox-400: #46b182;
  --clr-fox-400--rgb: 70, 177, 130;
  --clr-fox-500: #26a36c;
  --clr-fox-500--rgb: 38, 163, 108;
  --clr-fox-600: #229561;
  --clr-fox-600--rgb: 34, 149, 97;
  --clr-fox-700: #1c8454;
  --clr-fox-700--rgb: 28, 132, 84;
  --clr-fox-800: #177347;
  --clr-fox-800--rgb: 23, 115, 71;
  --clr-fox-900: #0e5630;
  --clr-fox-900--rgb: 14, 86, 48;
  --clr-fox-a100: #b0fbdb;
  --clr-fox-a100--rgb: 176, 251, 219;
  --clr-fox-a200: #67f8c4;
  --clr-fox-a200--rgb: 103, 248, 196;
  --clr-fox-a400: #0fe896;
  --clr-fox-a400--rgb: 15, 232, 150;
  --clr-fox-a700: #00c47c;
  --clr-fox-a700--rgb: 0, 196, 124;
}

[data-md-color-scheme=default] {
  --md-primary-fg-color: var(--clr-fox-500);
  --md-primary-fg-color--light: var(--clr-fox-400);
  --md-primary-fg-color--dark: var(--clr-fox-700);
  --md-accent-fg-color: var(--clr-fox-a700);
  --md-accent-fg-color--transparent: rgba(var(--clr-fox-a700--rgb), 0.1);
  --md-typeset-a-color: var(--md-primary-fg-color--dark);
}

[data-md-color-scheme=slate] {
  --md-primary-fg-color: var(--clr-fox-800);
  --md-primary-fg-color--light: var(--clr-fox-500);
  --md-primary-fg-color--dark: var(--clr-fox-900);
  --md-accent-fg-color: var(--clr-fox-a400);
  --md-accent-fg-color--transparent: rgba(var(--clr-fox-a400--rgb), 0.1);
  --md-typeset-a-color: var(--md-primary-fg-color--light);

  /* MODIFIED _scheme.scss */
  --md-hue: 240;
  --md-sat-ratio: 5%;
  /* Default color shades */
  --md-default-fg-color: hsla(var(--md-hue), var(--md-sat-ratio), 90%, 0.82);
  --md-default-fg-color--light: hsla(var(--md-hue), var(--md-sat-ratio), 90%, 0.56);
  --md-default-fg-color--lighter: hsla(var(--md-hue), var(--md-sat-ratio), 90%, 0.32);
  --md-default-fg-color--lightest: hsla(var(--md-hue), var(--md-sat-ratio), 90%, 0.12);
  --md-default-bg-color: hsla(var(--md-hue), var(--md-sat-ratio), 7%, 1);
  --md-default-bg-color--light: hsla(var(--md-hue), var(--md-sat-ratio), 7%, 0.54);
  --md-default-bg-color--lighter: hsla(var(--md-hue), var(--md-sat-ratio), 7%, 0.26);
  --md-default-bg-color--lightest: hsla(var(--md-hue), var(--md-sat-ratio), 7%, 0.07);
  /* Code color shades */
  --md-code-fg-color: hsla(var(--md-hue), var(--md-sat-ratio), 86%, 0.82);
  --md-code-bg-color: hsla(var(--md-hue), var(--md-sat-ratio), 9%, 1);
  --md-code-bg-color--light: hsla(var(--md-hue), var(--md-sat-ratio), 9%, 0.9);
  --md-code-bg-color--lighter: hsla(var(--md-hue), var(--md-sat-ratio), 9%, 0.54);
  /* Typeset `kbd` color shades */
  --md-typeset-kbd-color: hsla(var(--md-hue), var(--md-sat-ratio), 90%, 0.12);
  --md-typeset-kbd-accent-color: hsla(var(--md-hue), var(--md-sat-ratio), 90%, 0.2);
  --md-typeset-kbd-border-color: hsla(var(--md-hue), var(--md-sat-ratio), 7%, 1);
  /* Typeset `table` color shades */
  --md-typeset-table-color: hsla(var(--md-hue), var(--md-sat-ratio), 95%, 0.12);
  --md-typeset-table-color--light: hsla(var(--md-hue), var(--md-sat-ratio), 95%, 0.035);
  /* Footer color shades */
  --md-footer-bg-color: hsla(var(--md-hue), var(--md-sat-ratio), 5%, 0.87);
  --md-footer-bg-color--dark: hsla(var(--md-hue), var(--md-sat-ratio), 4%, 1);
}


/* 滚动条一会儿出现一会儿消失会导致页面左右横跳，不如直接隐藏 */
:root {
  /* overflow-y: scroll; */
  scrollbar-width: none;
}


/* 修复顶栏阴影bug */
.md-header--shadow {
  box-shadow: none;
}

.md-tabs {
  /* box-shadow: 0 0 0.2rem #0000001a, 0 0.2rem 0.4rem #0003; */
  /* box-shadow: 0 .2rem .2rem var(--header-shadow-color); -> New Tabs Bg */
  position: sticky;
  top: 0;
}


/* 顶栏新版亚克力样式 */
[data-md-color-scheme=default] {
  --header-color: #000;
  --header-bg-color: rgba(240, 240, 240, 0.3);
  --header-border-color: rgba(200, 200, 200, 0.7);
  --header-shadow-color: rgba(200, 200, 200, 0.3);
}

[data-md-color-scheme=slate] {
  --header-color: #fff;
  --header-bg-color: rgba(17, 17, 19, 0.7);
  --header-border-color: rgba(150, 150, 150, 0.7);
  --header-shadow-color: rgba(100, 100, 100, 0.2);
}

.md-header-bg-frame {
  /* 半透明背景的外框，应付布局器用的 */
  height: 0;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;
  overflow: visible;
  /* 神金，为了防止 sticky 的背景层和 header 一起排列，
  只好塞个空的 div 再给他 overflow 下来 */
}

.md-header-bg {
  /* 半透明背景，见 tabsfix.js */
  background: var(--header-bg-color);
  backdrop-filter: blur(7px);
  width: 100%;
  border-top: 1px solid var(--header-border-color);
  border-bottom: 1px solid var(--header-border-color);
  border-radius: 10px;
  box-shadow: 0 .2rem .2rem var(--header-shadow-color);
}

@media screen and (min-width: 76.25em)
/* （电脑端） */
  {
  .md-header {
    color: var(--header-color);
    background-color: unset;
    /* border-top: 1px solid var(--header-border-color); */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .md-tabs {
    color: var(--header-color);
    background-color: unset;
    /* backdrop-filter: url(#xblur); */
    /* border-bottom: 1px solid var(--header-border-color) !important; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: none !important;
  }
}

@media screen and (max-width: 76.234375em)
/* （移动端） */
  {
  .md-header {
    color: var(--header-color);
    background-color: unset;
    /* backdrop-filter: url(#xblur); */
    /* border-top: 1px solid var(--header-border-color);
    border-bottom: 1px solid var(--header-border-color); */
    border-radius: 10px;
  }

  .md-sidebar {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: unset !important;
  }

  .md-sidebar__scrollwrap {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: 1px solid var(--header-border-color);
  }

  .md-nav--primary .md-nav__title {
    background-color: unset !important;
  }

  .md-nav__source {
    background-color: unset !important;
  }
}



/* 顺滑亮暗切换动画 */
* {
  transition-property: background, background-color, border-color, outline-color, text-decoration-color, fill, stroke, opacity, box-shadow, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

[data-md-color-scheme=default] .md-logo {
  filter: invert(100%);
}

@media screen and (min-width: 76.25em) {
  .md-nav--lifted>.md-nav__list>.md-nav__item--active>.md-nav__link {
    background: none;
    box-shadow: none;
  }

  .md-nav--primary .md-nav__title {
    background: none;
    box-shadow: none;
  }
}

@media screen and (min-width: 60em) {
  .md-nav--secondary .md-nav__title {
    background: none;
    box-shadow: none;
  }

  [data-md-color-scheme=slate] .md-search__form {
    background-color: #ffffff0a;
  }
}

.admonition {
  background-color: unset !important;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slidein {
  from {
    transform: translateY(-.3vw);
  }

  to {
    transform: translateY(0);
  }
}

.theme-changed {
  opacity: 0;
  animation: appear 1s cubic-bezier(.4, 0, .2, 1) forwards;
}

.theme-changed-fast {
  opacity: 0;
  animation: appear .3s forwards;
}

.page-changed {
  opacity: 0;
  animation: appear .3s cubic-bezier(.4, 0, .2, 1) forwards;
}

.page-init {
  opacity: 0;
  transform: translateY(-.3vw);
  animation: appear .7s cubic-bezier(.4, 0, .2, 1) forwards, slidein .5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

.header-bg-init {
  opacity: 0;
  animation: appear .5s cubic-bezier(.4, 0, .2, 1) forwards;
}

.header-slidein {
  transform: translateY(-.3vw);
  animation: slidein .5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

.header-slidein-slow {
  transform: translateY(-.3vw);
  animation: slidein .8s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

.header-fade-slidein-slow {
  opacity: 0;
  transform: translateY(-.3vw);
  animation: appear .5s cubic-bezier(.4, 0, .2, 1) forwards, slidein .8s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

.giscus-frame {
  transition: opacity .7s ease-in, opacity 1s ease-out;
}

body {
  transition: background-color .3s ease;
}



/* 实现动态显示储存库 */
.md-header__source {
  display: none;
  margin-left: 0 !important;
  overflow: hidden;
  width: 0;
  transition: width .25s cubic-bezier(0.215, 0.610, 0.355, 1), margin .25s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.md-nav__source {
  /* 移动端，旧的主页储存库面板，直接隐藏 */
  display: none;
}

@media screen and (min-width: 60em)
/* （电脑端） */
  {
  .md-header__source.show {
    display: block;
    width: 11.7rem;
  }

  [dir=ltr] .md-header__source.show {
    margin-left: 1rem !important;
  }
}

@media screen and (max-width: 60em)
/* （移动端） */
  {
  .md-header__source.show {
    display: block;
    width: 2.4rem;
  }
}

.md-source__facts {
  display: none;
}

.md-source__fact {
  display: none;
}

.repo {
  display: none;
}

/* （内嵌储存库信息） */
.repo-release.not-found {
  color: var(--md-default-fg-color);
}

.repo-date {
  color: var(--md-default-fg-color) !important;
}



/* 防止夜间按钮瞎眼 */
[data-md-color-scheme=slate] .md-button:hover {
  background-color: var(--md-primary-fg-color) !important;
}



/* 修复文章宽度问题 */
.md-content__inner {
  width: -mox-available;
  width: -webkit-fill-available;
  width: fill-available;
}



/* 修复博客目录字体不一致 */
@media screen and (min-width: 76.25em) {
  .md-nav__link .md-ellipsis .md-typeset {
    font-size: .7rem;
  }
}



/* 表情居中 */
.twemoji {
  vertical-align: -12% !important;
}



/* 赞助按钮 */
.md-button--sponsors {
  --md-typeset-a-color: #e92063;
  --md-accent-fg-color: #ff4281;
  --md-accent-fg-color--transparent: #e920631a;
  --md-primary-fg-color: #b31247;
  color: #e91e63
}



/* Mermaid 图表动画 */
@keyframes mermaid-fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

div.mermaid {
  text-align: center;
  overflow: hidden;
  animation: mermaid-fadeIn 1s ease forwards;
}



/* 修复移动端侧栏项大小不一致 */
.md-ellipsis .md-typeset {
  font-size: .8rem;
}



/* 优化对话框颜色 */
.md-dialog {
  background-color: var(--md-default-bg-color);
  border-top: 1px solid var(--header-border-color);
  border-bottom: 1px solid var(--header-border-color);
  border-radius: 10px;
  box-shadow: 0 .2rem .2rem var(--header-shadow-color);
}

.md-dialog__inner {
  color: var(--md-typeset-color);
}



/* 头像适配 */
.md-author {
  border-radius: 0 !important;
}



/* 按钮圆角 */
.md-typeset .md-button {
  border-radius: .2rem;
}



/* 图片样式优化 */
@media screen and (min-width: 76.25em) {
  .md-typeset figure {
    margin-left: inherit;
    margin-right: inherit;
  }
}

@media screen and (min-width: 60em) {
  .md-typeset figure {
    max-width: 70%;
  }
}

@media screen and (max-width: 60em) {
  .md-typeset figure {
    max-width: 85%;
  }
}

.md-typeset figcaption {
  font-style: normal;
  color: var(--md-typeset-color);
}



/* 摘要里的图片样式优化 */
.md-post--excerpt img {
  max-height: 200px;
}

.md-post--excerpt figure {
  margin-left: 1em;
  margin-right: 1em;
}



/* 摘要里不显示分割线 */
.md-post--excerpt hr {
  display: none;
}



/* 对齐<code>，默认对齐基线会偏下 */
.md-typeset code {
  vertical-align: text-top;
}